<div class="container">
<!-- style="border: dashed" -->
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="cards">

        <% @cocktails.each do |cocktail| %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo.path, height: 300, width: 400, crop: :fill %>')">
            <div class="card-category">Popular</div>

            <div class="card-description">
              <h3><%= link_to cocktail.name, cocktail%></h3>
              <h4>Ingredients:</h4>

              <% if cocktail.ingredients.blank? %>
                <p>(no ingredients yet)</p>
              <% else %>
                <p><% cocktail.ingredients.each do |ingredient| %>
                  <%= ingredient.name.capitalize %>.
                <% end %></p>
              <% end %>

            </div>

            <%= link_to '', cocktail, {class: 'card-link'}%>
            <!-- <a class="card-link" href="#" ></a> -->
          </div>
        <% end %>

      </div>
      <%= link_to 'New Cocktail', new_cocktail_path, {class: 'btn btn-lg btn-warning'}%>
    </div>
  </div>
</div>
