<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="cards">
            <div class="show-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.photo.path, height: 300, width: 300, crop: :fill %>')">

            </div>

            <div class="show-card">
              <h2><%= @cocktail.name %></h2>
              <% @cocktail.doses.each do |dose| %>
              <ul>
                <li>
                <%= dose.ingredient.name  %> - <%= dose.description  %>
                </li>
              </ul>
              <% end  %>
              <%= render 'doses/form', dose: @dose, cocktail: @cocktail %>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper text-center">
  <%= link_to 'Back', cocktails_path, {class: 'btn btn-warning'}%>
</div>
